/* @media (min-width: 768px){} */
/* .iframe-preview[_ngcontent-serverApp-c157] {
    position: absolute;
    height: calc(100% - 63px);
    width: 100%;
    border: none;
    margin-top: 63px;
} */

