<app-student-header></app-student-header>

<div class=" container-fluid d-flex mt-5" style="background-image: url('assets/images/success-story.jpg')" >
    <div class="row">
    <div class="col-md-4 pt-5 text-center lh-lg border-end" *ngFor="let subject of subjects;">
        
        <h1 class="text-white"> {{subject.name}} </h1>
        <!-- <img src="../../assets/images/arabic.jpeg"> -->
        <button type="button" class="m-5 mt-2  btn btn-secondary">Go to Subject </button>
        
    </div>

    <app-footer></app-footer>
    </div>
