<app-student-header></app-student-header>

<div class=" container-fluid d-flex mt-5" >
    
    <div class="col-md-4 pt-5 text-center lh-lg border-end" *ngFor="let subject of subjects;">
        
        <h1> {{subject.name}} </h1>
        <img src="../../assets/images/arabic.jpeg">
        <button type="button" class="m-5 mt-2  btn btn-secondary">Go to Subject </button>
        
    </div>

    <!-- <div  class=" col-md-4 pt-5 text-center lh-lg  border-end">
        <h1> English </h1>
        <img src="../../assets/images/english.jpeg">
        
        <button class="m-5 mt-2 btn btn-secondary">Go to Subject </button>
    </div>

    <div  class=" col-md-4 pt-5 text-center lh-lg ">
        <h1> Mathematics </h1>
        <img src="../../assets/images/math.jpg" width="250px" height="200px">
        <button type="button" class="m-5 mt-2  btn btn-secondary">Go to Subject </button>    </div>
</div>
<div class=" container-fluid d-flex mt-3 ">
    <div class="col-md-4 pt-5 text-center lh-lg  border-end">
        <h1>Social Studies </h1>
        <img src="../../assets/images/social.jpeg">
        <button type="button" class="m-5 mt-2  btn btn-secondary">Go to Subject </button>    </div>

    <div  class=" col-md-4 pt-5 text-center lh-lg  border-end">
        <h1> Religion </h1>
        <img src="../../assets/images/deen.jpg" height="200px">
        <button type="button" class="m-5 mt-2  btn btn-secondary">Go to Subject </button>    </div>

    <div  class=" col-md-4 pt-5 text-center lh-lg ">
        <h1> Science</h1>
        <img src="../../assets/images/science.jpg" width="250px" height="200px">
        <button type="button" class="m-5 mt-2  btn btn-secondary">Go to Subject </button>    </div>
</div> -->

<app-footer></app-footer>