<footer class="">
    
    <!-- footer content -->
    <!-- <div class="footer bg-footer section border-bottom"style="background-color: #182b45;">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0"> -->
            <!-- logo -->
            <!-- <a class="logo-footer" routerLink="profile/home"><img class="img-fluid mb-4" src="src/assets/images/logo.png" alt="logo"></a>
            <ul class="list-unstyled">
              <li class="mb-2 text-white text-center">23621 15 Mile Rd #C104, Clinton MI, 48035, New York, USA</li>
              <li class="mb-2 text-white text-center">+1 (2) 345 6789</li>
              <li class="mb-2 text-white text-center">+1 (2) 345 6789</li>
              <li class="mb-2 text-white text-center">contact@yourdomain.com</li>
            </ul>
          </div> -->
          
          
        <!-- </div>
      </div>
    </div> -->
    <!-- copyright -->
    <div class="copyright py-4 bg-footer " style="background-color: #182b45;">
      <div class="container">
        <div class="row ">
          <div class="col-sm-7 text-sm-left text-white text-center">
            <p class="mb-0">Copyright &copy;
              <script>
                var CurrentYear = new Date().getFullYear()
                document.write(CurrentYear)
              </script> 
              , designed & developed by <a href="https://themefisher.com/" class="text-muted">Themefisher</a>
            </p>
          </div>
          <div class="col-sm-5 text-sm-right text-white text-center">
            <ul class="list-inline">
              <li class="list-inline-item"><a class="d-inline-block p-2" href="https://facebook.com/themefisher/"><i class="ti-facebook text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="https://twitter.com/themefisher"><i class="ti-twitter-alt text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="https://github.com/themefisher"><i class="ti-github text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="https://instagram.com/themefisher/"><i class="ti-instagram text-primary"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer -->
  
