<app-student-header></app-student-header>
<!-- <p>student-profile works!</p> -->
<section class="profile-area card">
    <div class="profile-content card-body d-flex">
        <!-- <div class="user-image-wrap mr-5">
            <img src="assets/img/profile-photo.png" alt="">
        </div> -->
        <div class="user-about ms-5">
            <h2 class="text-danger">John </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            <p>Email: John@gmail.com</p>
            <p>Phone: +991230344455</p>
            <p>Address: 82 Kuen Suk Shuen Tsuen Hang Hiu Kowloon</p>
            
        </div>
    </div>
</section>

<app-footer></app-footer>